body {
    background-image: url("hexgrid_gray_hex_effect.png");
    background-attachment: fixed;
    font-family: 'Rajdhani', sans-serif;
}

h1 {
    /* text-shadow: 0px 0px 10px black, 0 0 25px rgb(0, 255, 251), 0 0 5px rgb(0, 109, 139);  */
    text-shadow: 0px 0px 2px black, 0px 0px 20px #00bebe;
}

.container {
    position: relative;
    margin: 50px auto;
    padding: 0;
    color: #00bebe;
}

.container * {
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    outline: none;
}

.content {
    border: 1px solid #00bebe;
    background: rgba(0, 190, 190, 0.1);
    padding: 20px 40px;
    box-shadow: 0px 0px 20px #00bebe;
}

.details {
    justify-content: space-between;
}

.metadata {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.metadata-content {
    display: inline-block;
    margin: 10px;
}

.metadata-content label {
    font-weight: bold;
}

hr {
    border: 1px solid #00bebe;
    background-color: #00bebe;
}

table {
    /* border-collapse: collapse; */
    border-collapse: separate;
    border-spacing: 0px 5px;
    width: 100%;
}

th {
    font-weight: bold;
    text-align: center;
    border-bottom: solid #00bebe;
}

tr {
    /* background: rgba(0, 190, 190, 0.1); */
    margin: 10px;
}

tr:nth-child(even) {
    background: rgba(0, 255, 255, 0.1);

  }

tr:hover {
    background-color: cyan;
}

.data-href {
    cursor: pointer;    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .md {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        width: 75%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        width: 50%;
    }
}
