html, body {
    background: url(http://aaronchuo.cc/assets/images/ironwall.jpg) rgba(33,33,33,1) top center no-repeat;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: .1em;
}

.container {
    width: 50%;
    position: relative;
    margin: 50px auto;
    padding: 0;
    font-size: 18px;
    color: #00bebe;
}

.container * {
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    outline: none;
}

.details {
    padding: 50px;
    border: 1px solid #00bebe;
    background: rgba(0, 190, 190, 0.1);
    justify-content: space-between;
}

.metadata {
    display: flex;
    justify-content: space-between;
}

.metadata-content {
    display: inline-block;
}

.metadata-content label {
    font-weight: bold;
}

hr {
    color: #00bebe;
}
