.details {
    justify-content: space-between;
}

.metadata {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.metadata-content {
    display: inline-block;
    margin: 10px;
}

.metadata-content label {
    font-weight: bold;
}

.details-description table th {
    text-align: left;
}

.details-description table td:nth-child(2) {
    width: 90%;
}

.data-href {
    cursor: pointer;    
}