{% extends 'utilities/base.html' %}

{% block 'nav' %}
<a href="{% url 'utility_list' %}">Utility List</a>
{% endblock 'nav' %}
{% block 'header' %}
<h1>
  {{ utility.name }} {% if utility.duration_type.type == "Consentration" %}
  <span>(Consentration)</span>
  {% endif %}
</h1>
{% endblock 'header' %}

{% block 'content' %}
  <div class="details">
    <div class="metadata">
      <div class="metadata-content">
        <label for="level">Level:</label>
        <div>{{ utility.utility_level }}</div>
      </div>
      <div class="metadata-content">
        <label for="CastingTime">Casting Time:</label>
        <div>
          {{ utility.casting_time_quantity }} {{ utility.casting_time_unit }}
        </div>
      </div>
      <div class="metadata-content">
        <label for="components">Components:</label>
        <div>
          {% for component in utility.components.all %}
            {{ component.Abbreviation }}{% if not forloop.last %},{% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="metadata-content">
        <label for="range">Range:</label>
        {% if utility.range_type.type == "Ranged" %}
        <div>{{ utility.range_distance }} feet</div>
        {% else %}
        <div>{{ utility.range_type }}</div>
        {% endif %}
      </div>
      <div class="metadata-content">
        <label for="duration">Duration:</label>
        {% if utility.duration_time_unit.unit and utility.duration_quantity > 0 %}
        <div>
          {{ utility.duration_quantity }} {{ utility.duration_time_unit.unit }}
        </div>
        {% else %}
        <div>{{ utility.duration_type }}</div>
        {% endif %}
      </div>
      {% if utility.origin %}
      <div class="metadata-content">
        <label for="origin">Originated from spell:</label>
        <div>
          <a href="{{ utility.origin_link }}" target="_blank"
            >{{ utility.origin }}</a
          >
        </div>
      </div>
      {% endif %}
    </div>
    <hr>
    <div class="details-description">
      <p>{{ utility.description | safe | linebreaks }}</p>
      {% if utility.at_higher_levels %}
      <div>
        <strong>At higher levels:</strong>
        <p>{{ utility.at_higher_levels | linebreaks }}</p>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock 'content' %}



