{% extends 'utilities/base_utilities.html' %}

{% block 'header' %}
<h1>Utilities</h1>
{% endblock 'header' %}

{% block 'content' %}
  {% if utilities %}
  <table>
    <tr>
      <th>Level</th>
      <th>Name</th>
      <th>Casting Time</th>
      <th class="md">Duration</th>
    </tr>
    {% for utility in utilities %}
    <tr class="data-href" onclick="javascript:window.location.href=`{% url 'detail' utility.id %}`; return false;">
      <td>{{ utility.utility_level }}</td>
      <td>{{ utility.name }}</td>
      <td>{{ utility.casting_time_quantity }} {{ utility.casting_time_unit }}</td>
      {% if utility.duration_type.type == "Time" or utility.duration_type.type == "Consentration" %}
      <td class="md">{{ utility.duration_quantity }} {{ utility.duration_time_unit }}</td>
      {% else %}
      <td class="md">{{ utility.duration_type }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No utility are available.</p>
  {% endif %}
{% endblock 'content' %}




